@font-face {
    font-family: Evogria;
    src: url('fonts/Evogria.otf');
}
@font-face {
    font-family: Sofia;
    src: url('fonts/Sofia.otf');
}
@font-face {
    font-family: Blanch;
    src: url('fonts/Blanch.otf');
}
@font-face {
    font-family: KaushanScript;
    src: url('fonts/KaushanScript.otf');
}
@font-face {
    font-family: ConfigCondensed;
    src: url('fonts/ConfigCondensed.otf');
}
@font-face {
    font-family: Bahnschrift;
    src: url('fonts/Bahnschrift.TTF');
}

:root {
    --light-color: rgb(57, 57, 94);
    --dark-color: #262626ff;
}

html {
    background-color: var(--light-color);
}

body {
    -webkit-user-select: none;
    -moz-user-select:-moz-none;
    -ms-user-select:none;
    user-select:none}

body {
    margin: 0;
    display: flex;
    justify-content: center;
}

#show-container {
    margin-top: 75px;
    background-color: var(--dark-color);
    width: 300px;
    height: 50px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Bahnschrift;
}

#input-container {
}

#input-field {
    margin-top: 15px;
    background-color: white;
    width: 300px;
    height: 50px;
    border-radius: 15px;
    text-align: center;
}
