@font-face {
    font-family: Evogria;
    src: url('fonts/Evogria.otf');
}
@font-face {
    font-family: Sofia;
    src: url('fonts/Sofia.otf');
}
@font-face {
    font-family: Blanch;
    src: url('fonts/Blanch.otf');
}
@font-face {
    font-family: KaushanScript;
    src: url('fonts/KaushanScript.otf');
}
@font-face {
    font-family: ConfigCondensed;
    src: url('fonts/ConfigCondensed.otf');
}
@font-face {
    font-family: Bahnschrift;
    src: url('fonts/Bahnschrift.TTF');
}
@font-face {
    font-family: PlexSansKR;
    src: url('fonts/PlexSansKR.ttf');
}
@font-face {
    font-family: UbuntuBold;
    src: url('fonts/UbuntuBold.ttf');
}
@font-face {
    font-family: UbuntuLight;
    src: url('fonts/UbuntuLight.ttf');
}
@font-face {
    font-family: LotteMartBold;
    src: url('fonts/LotteMartBold.ttf');
}
:root {
    --gray: #262626ff;
    --dgray: #323232ff;
    --gwhite: #f0f0f0ff;
    --lgray: #b4b4b4ff;
    --blue: #3363f2ff;
    --pink: #fb82c8ff;
}

html {
    font-family: Bahnschrift;
    background-color: var(--gwhite);
}

body 
{
    -webkit-user-select: none;
    -moz-user-select:-moz-none;
    -ms-user-select:none;
    user-select:none;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#app {
    width: 500px;
    height: 90vh;
    background-color: var(--gwhite);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

#top-wave {
    aspect-ratio: 500/205;
    width: 100%;
    min-width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('./imgs/top-wave.svg');
}

#title-container {
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.title {
    font-family: UbuntuBold;
    font-size: 45px;
}

.subtitle {
    font-family: UbuntuLight;
    font-size: 28px;
}

#start-container {
    margin: 0 auto 0 auto;
    border-radius: 10px;
    width: 100%;
    height: 135px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#prompter {
    font-family: Bahnschrift;
    font-size: 24px;
    font-weight: 600;
    color: var(--dgray);
}

#start-button {
    width: 187px;
    height: 49px;
    background: linear-gradient(to right, var(--blue), var(--pink));
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
}

#start-button p {
    color: white;
    font-weight: 600;
    font-size: 25px;
}

#start-button:hover {
    cursor: pointer;
    filter: brightness(0.9);
}

#info-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    margin-top: 15px;
}

#list-count, #item-count{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#list-count img, #item-count img{
    height: 18px;
}

#list-count p, #item-count p {
    font-size: 16px;
    margin: 0 0 0 5px;
    color: var(--lgray);
}

#list-container {
    margin: 35px auto 0 auto;
    border-radius: 10px;
    width: 100%;
    height: calc(100vh - 300px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow: scroll;
}

.list-item {
    width: 90%;
    min-height: 70px;
    display: grid;
    grid-template-columns: 10% 50px 70% 10%;
    background-color: var(--gwhite);
    background-position: center;
    transition: background 1s;
    padding: 15px 15px 15px 15px;
}

.list-item:hover {
    background-color: var(--gwhite);
    background-image: radial-gradient(circle, transparent 1%, var(--gwhite) 1%);
    background-position: center;
    background-size: 15000%;
}

.list-item:active {
    transition: background 0s;
    background-color: #dededeff;
    background-size: 100%;
}

#chevron {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#chevron-icon {
    padding: 10px;
}

#list-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#item-name {
    width: 80%;
    margin: 10px 0 0 15px;
    font-size: 23px;
    font-family: Bahnschrift;
    font-weight: bold;
    color: var(--dgray);
}

#item-counter {
    margin: 0 0 0 15px;
    font-size: 15px;
    font-family: Bahnschrift;
    color: var(--lgray); 
}

.checker {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-status {
    height: 20px;
}
