@font-face {
    font-family: Evogria;
    src: url('fonts/Evogria.otf');
}
@font-face {
    font-family: Sofia;
    src: url('fonts/Sofia.otf');
}
@font-face {
    font-family: Blanch;
    src: url('fonts/Blanch.otf');
}
@font-face {
    font-family: KaushanScript;
    src: url('fonts/KaushanScript.otf');
}
@font-face {
    font-family: ConfigCondensed;
    src: url('fonts/ConfigCondensed.otf');
}
@font-face {
    font-family: Bahnschrift;
    src: url('fonts/Bahnschrift.TTF');
}
@font-face {
    font-family: PlexSansKR;
    src: url('fonts/PlexSansKR.ttf');
}
:root {
    --light: rgb(57, 57, 94);
    --dark: rgb(30, 30, 55);
    --gray: #262626ff;
}

html {
    font-family: Bahnschrift;
    background-color: var(--gray);
}

body 
{
    -webkit-user-select: none;
    -moz-user-select:-moz-none;
    -ms-user-select:none;
    user-select:none;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#app {
    width: 100vw;
    height: 100vh;
    background-color: #e6e6e6ff;
}

.spacer {
    aspect-ratio: 300/85;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#wave {
    background-image: url('./wave-blue.svg');
    text-align: center;
}

#start-container {
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    border-radius: 10px;
    width: 81%;
    height: 80px;
    margin-bottom: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#start-button {
    width: 60%;
    height: 40px;
    background-color: var(--dark);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#start-button p {
    color: white;
    font-weight: bold;
    font-size: 15px;
}

#list-container {
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    width: 100%;
    height: calc(100vh - 300px);
    margin-bottom: 13px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow: scroll;
}

.list-item {
    width: 80%;
    min-height: 50px;
    background-color: white;
    border-radius: 30px;
    margin-top: 6px;
    margin-bottom: 6px;
    display: grid;
    grid-template-columns: 90% 10%;
}

#item-name {
    width: 50%;
    margin-right: 20px;
    margin: 10px 0 0 30px;
}

#item-count {
    font-size: 10px;
    color: var(--gray); 
    margin: 0 0 0 30px;
}

.checker {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-status {
    height: 20px;
    width: 20px;
}
