@font-face {
    font-family: Evogria;
    src: url('fonts/Evogria.otf');
}
@font-face {
    font-family: Sofia;
    src: url('fonts/Sofia.otf');
}
@font-face {
    font-family: Blanch;
    src: url('fonts/Blanch.otf');
}
@font-face {
    font-family: KaushanScript;
    src: url('fonts/KaushanScript.otf');
}
@font-face {
    font-family: ConfigCondensed;
    src: url('fonts/ConfigCondensed.otf');
}
@font-face {
    font-family: Bahnschrift;
    src: url('fonts/Bahnschrift.TTF');
}
@font-face {
    font-family: PlexSansKR;
    src: url('fonts/PlexSansKR.ttf');
}
@font-face {
    font-family: UbuntuBold;
    src: url('fonts/UbuntuBold.ttf');
}
@font-face {
    font-family: UbuntuLight;
    src: url('fonts/UbuntuLight.ttf');
}
@font-face {
    font-family: LotteMartBold;
    src: url('fonts/LotteMartBold.ttf');
}
:root {
    --gray: #262626ff;
    --dgray: #323232ff;
    --gwhite: #f0f0f0ff;
    --lgray: #b4b4b4ff;
    --blue: #3363f2ff;
    --pink: #fb82c8ff;
}

html {
    background-color: var(--light);
    font-family: Bahnschrift;
}

body {
    -webkit-user-select: none;
    -moz-user-select:-moz-none;
    -ms-user-select:none;
    user-select:none
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--gwhite);
}

#app {
    width: 100vw;
    height: 80vh;
    background-color: var(--gwhite);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

#top-wave {
    aspect-ratio: 500/205;
    width: 100%;
    min-width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('./imgs/top-wave.svg');
}

#title-container {
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

#title {
    font-family: UbuntuBold;
    font-size: 45px;
}

#subtitle {
    font-family: UbuntuLight;
    font-size: 28px;
}

#back-button {
    position: absolute;
    top: 21px;
    left: 47px;
}

#back-button:hover {
    cursor: pointer;
    filter: brightness(0.9);
}

#list-prompt {
    display: flex;
    align-items: center;
    justify-content: center; 
}

#list-prompt p {
    color: var(--dgray);
    padding: 0px 0px 0px 13px;
    margin: 0px;
    font-size: 26px;
    font-family: Bahnschrift;
    font-weight: 600;
}

#list-promp-icon {
    height: 29px;
}

#show-container {
    background-color: white;
    width: 76%;
    height: 73px;
    min-height: 73px;
    margin-top: 17px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: LotteMartBold;
}

#show-container p {
    color: var(--dgray);
    font-size: 24px;
}

#listen {
    margin-top: 5px;
    font-family: Bahnschrift; 
    color: var(--lgray);
}

#listen:hover {
    cursor: pointer;
}

#indicator {
    margin-top: 20px;
    display: block;
    font-size: 27px;
    font-family: Bahnschrift;
    font-weight: 600;
    color: var(--dgray);;
}

#input-container {
    width: 76%;
    height: 73px;
    min-height: 73px;
    margin-top: 10px;
}

#input-field {
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    text-align: center;
    font-family: LotteMartBold;
    font-size: 20px;
    border: none;
}

#next-button {
    font-family: Bahnschrift;
    font-size: 15px;
    margin-top: 20px;
    color: white;
    width: 132px;
    height: 40px;
    min-height: 40px;
    background: linear-gradient(to right, var(--blue), var(--pink));
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#next-button:hover {
    filter: brightness(0.9);
    cursor: pointer;
}

#filter {
    display: none;
    top: 0px;
    position: absolute;
    height: 100%;
    width: 100vw;
    background-color: #00000088;
}

#popup-container {
    width: 400px;
    height: 355px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 180px;
    background-color: var(--gwhite);
    display: none;
    border-radius: 15px;
    overflow: hidden;
    animation-duration: 0.3s;
    animation-name: open;
}

#color-top {
    width: 400px;
    height: 45px;
    top: 0px;
    overflow: hidden;
    background-color: green;
    border-radius: 30px 30px 0px 0px;
}

#popup-button {
    background: linear-gradient(to right, #049b5bff, #32fca7ff);
    color: white;
    font-family: Bahnschrift;
    height: 40px;
    width: 132px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

#popup-button:hover {
    filter: brightness(0.9);
    cursor: pointer;
}

.spacer {
    aspect-ratio: 300/85;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#popup-wave {
    background-image: url('./imgs/wave-green.svg');
    text-align: center;
}

#popup-wave p {
    margin: 0;
    padding-top: 10px;
    color: white;
    font-family: Bahnschrift;
    font-weight: bold;
    font-size: 28px;
}

.popup-space {
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    border-radius: 10px;
    width: 90%;
    height: 80px;
    margin-bottom: 13px;
}

.popup-title {
    color: #191919ff;
    font-weight: bold;
    font-size: 23px;
    padding-top: 10px;
    padding-left: 15px;
    margin: 0;
}

.popup-sub {
    color: #b4b4b4ff;
    font-size: 20px;
    font-family: PlexSansKR;
    padding-left: 15px;
    margin: 0;
}

@keyframes open {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
